{%extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Accueil {% endblock%}


{% block body%}
    <h1>Trouve ton Toobib !</h1>
    <h2>Grâce à Toobib,
        trouve ton soignant
        dans l'annuaire officiel
    </h2>
    <p>Tu es praticien et tu souhaites
        Une messagerie instantanée ?
        <br>
        Connecte toi !
    </p>
{% endblock %}