{%extends 'base.html.twig'%}

{% block title %}{{ parent()}} |A propos {% endblock%}

{% block body%}
    <h1>Une plateforme respectueuse des données médicales
    pour les soignants et les patients</h1>
    <h2>Annuaire officiel des soignants
        <br>
        Droit à la rectification des données des soignants
        <br>
        Prise de rendez-vous
    </h2>
    <p>Et plus à venir !
    </p>
{% endblock %}