{%extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Profil utilisateur {% endblock%}

{% block body%}
    <h1>Docteur Good</h1>
    <h2>Fiche de renseignements
        <br>
        Ici viendra s'afficher les informations récupérer dans l'annuaire de santé.
        <br>
        Le professionnel pourra les modifier sur le site le cas échéant avec possibilité d'envoyer s'il le souhaite ses nouvelles informations vers l'annuaire de santé
    </h2>
    <p>Les informations seront vérifiées et donc pré remplis grâce à un formulaire d'inscription.
    </p>
{% endblock %}