{%extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Services {% endblock%}

{% block body%}
    <h1>Docteur Good</h1>
    <h2>Les services mis à la disposition des professionnel-le-s soignant-e-s
        <br>
        Messagerie instantnanée + téléconsultation + partage sécurisé de documents + plein d'autres choses à venir !!
        <br>
    </h2>
    <p>C'est ici que tout se joue puisque c'est ici qu'on redirige vers les services/ dans la recherche il y a aussi une connexion à établir avec l'annuaire des professionnel-le-s de santé.

    </p>
{% endblock %}