<nav class="links">
    <h1 class="header-logo">
        <a href="{{ path('main_accueil') }}" title="retour accueil">
            <img src="{{ asset('img/logo toobib.jpg') }}" alt="Toobib Logo"></a>


{# pour afficher nav bar hors connexion :
        {% if is_granted('IS_ANONYMOUS')%}
        afficher a propos,se connecter et rercherche

            <button> <a href="{{ path('app_login') }}" title="se connecter">Se Connecter</a></button>
        {%endif%}
#}

    </h1>
    <a href="{{ path('main_accueil')}}" title="Retour Accueil">Accueil</a>

    <a href="{{ path('app_login')}}">Se Connecter</a>

    <a href="{{ path('main_aPropos')}}" title="A propos">A propos</a>

    <a href="#">Link 4</a>

    {# TODO comment inclure bouton pour lancer la recherche #}
    <a href="#"><label for="searchbar"></label><input id="searchbar" type="text"
                                                      name="search" placeholder="Recherche ton Toobib !"/>
        <button type="submit">Rechercher</button>
    </a>

    <span class="line"></span>


    {# pour afficher la nav connectée :
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        afficher a propos, se déconnecter, mes services, mes données, rechercher
        {%endif%}
    #}
</nav>