<nav class="links">
    <h1 class="header-logo">
        <a href="{{ path('main_accueil') }}" title="retour accueil">
            <img src="{{ asset('img/logo toobib.jpg') }}" alt="Toobib Logo"></a>
    </h1>
    <a href="#" title="Retour Accueil">Accueil</a>

    <a href="#">Se Connecter</a>

    <a href="#" title="A propos">A propos</a>

    <a href="#">Link 4</a>

    <a href="#">Recherche ton Toobib !</a>

    <span class="line"></span>
</nav>