<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Toobib!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    #}
</head>

<body>

{#entete du site#}
<header style="background-color: #99CCCC">



    <nav> {% include('include/nav.html.twig')%} </nav>

</header>


{% block body %}

{% endblock %}

{#pied de page du site#}
<footer style="background-color: #0000FF">
    <div class="container">&copy; par l'association Interhop {{ "now"|date("Y") }} </div>
</footer>

</body>
</html>
