{%extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Résultats de la recherche {% endblock%}

{% block body%}
    <h1>Voici les résultats de votre recherche : </h1>
    <h2>Il y a 2 sortes de résultats à envisager :
        <br>
        - hors connexion
        <br>
        - connecté
    </h2>
    <p>Tout un programme !!
    </p>
{% endblock %}